.toolbar {
    width: 100%;
    top: 0;
    left: 0;
    height: 56px;
    z-index: 1000;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo a {
    margin-left: 4rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {                      
    flex-grow: 1;               

}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.toolbar_navigation-items li {
    padding: 2rem;
}

.menuLink {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .2s ease-in;
    letter-spacing: 2px;
}

.openedLink {
    color: #ff7e15;
    opacity: 0.8
}

.menuLink:hover,
.menuLink:active {
    color: #ff7e15;
    opacity: 0.8
}

@media (max-width: 768px) {
    .toolbar {
        position: fixed;
    }
    .top-menu {
        opacity: 0;
    }

    .toolbar_navigation-items li {
        padding-top: 1.5rem;
    }

    .toolbar_navigation-items ul {
        list-style: none;
        margin: -40px;
        padding: 0;
        display: flex;
    
    }
    

}



