.about-grid-box {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    grid-template-rows: 240px 400px;
    grid-template-areas: 'about-box1'
                         'about-box2' ;
    gap: 50px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;

}

.about-box1 {
    background: rgba(49, 45, 45, .6);
    border: 3px solid #fa933f59;
    border-radius: 50%;
    grid-area: about-box1;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
        
}
.about-box2 {
    background: rgba(49, 45, 45, .6);
    border: 3px solid #fa933f59;
    border-radius: 10px;
    grid-area: about-box2;
    display: flex;
    flex-direction: column;
    margin: 10px;
        
}


.about-text{
    width: 90%;
    margin: 0 auto;
    align-items: center;
    text-align: center;

}
.about-text h1 {
    color: #fa923f;
    opacity: 0.8;
    
    letter-spacing: 1.5px;
}

.about-text p {
    color: white;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}

@media (max-width: 400px) {
    .about-grid-box {
        
        width: 90%;
        grid-template-rows: 240px 800px;
    
    }
    .about-text h1 {
        color: #fa923f;
        opacity: 0.8;
        font-size: 1.5rem;
        
        letter-spacing: 1.5px;
    }
    .about-text p {
        color: white;
        font-size: 1rem;
        letter-spacing: 1.5px;
    }

}