

/* ---GRID--- */

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    grid-template-rows: 300px 400px;
    grid-template-areas: 'box1 box2'
                         'box3 box2' ;
    gap: 50px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;

}

.box1 {
    background: rgba(49, 45, 45, .6);
    border: 3px solid #fa933f59;
    border-radius: 10px;
    grid-area: box1;
    display: flex;
    flex-direction: column;
    justify-content: start;
        
}

.box1 h1 {
    margin: 0 70px;    
    letter-spacing: 1rem;
    color:  #fa923f;
    font-size: 3.5rem;
    opacity: .9;
}

.box1 h3 {
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    letter-spacing: .8rem;
    text-align: center;
    
}

.box2 {
    background: rgba(49, 45, 45, .6);
    border: 3px solid #fa933f59;
    border-radius: 10px;
    grid-area: box2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
}

.box3 {
    background: rgba(49, 45, 45, .6);
    border: 3px solid #fa933f59;
    border-radius: 10px;
    grid-area: box3;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.box3 h2 {
    color: white;
    font-size: 2rem;
    margin: 10px;
}
.exp-container{
    width: 100%;
    height: 100%;

}

.exp-box {
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr ;
    grid-template-rows: 20% 1fr;
    grid-template-areas: 'exp1 exp2'
                         'exp3 exp2'  ;
    margin-left: 20px;
}



.exp-box h3 {
    grid-area: exp1;
    color: #fa923f;
    opacity: 0.8
}

.exp-box h4 {
    grid-area: exp3;
    color: #fa923f;
    opacity: 0.8
}

.exp-box ul {
    grid-area: exp2;
    list-style: none;
}

.flex-cont {
    height: 100%;
    text-align: center;
    

}

.skill-box {
    height: 100%;
}

.arrowBtn {
    
    font-size: 3rem;
    color:  white;
    opacity: .9;
    transition: all .2s ease-in;
    padding: 10px;
}

.arrowBtn:hover,
.arrowBtn:active {
    color: #fa923f;
    opacity: 0.8
}

.listOfSkills {
    list-style: none;
    padding-right: 40px;
    height: 100%;
    
}

.listOfSkills li {
    font-size: 20px;
    color: white;
    text-align: left;
    padding-bottom: 10px;
}

.typeOfSkill {
    color: #fa923f;
    opacity: 0.8;
    
}



/* ---OLD-FLEX--- */

.container {
    display: flex;
    position: relative;
    top: 100px;
}

.main-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-left: 100px;
    background: rgba(49, 45, 45, .6);
    border: 3px solid #fa933f59;
    border-radius: 10px;
}



.skills {
    display: flex;
    justify-content: center;
}

.title {
    width: 16ch;           /*Количество символов в строке требуемого для написания*/
    color:white;
    font-family: monospace;
    font-size: 2rem;
    white-space: nowrap;    /* При сжимании контента не переносит ничего, остается в одной строке */
    overflow: hidden;
    border-right: 4px solid #fa933fe5;
    animation: flashing-border 0.75s step-end infinite,
    printed-text 5s steps(16);
}

@keyframes flashing-border {
    0% {
        border-color: #fa933fe5;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #fa933fe5;
    }
}

@keyframes printed-text {
    from {
        width: 0;
    }
}
